@page "/"
@rendermode InteractiveServer
@inject WeatherService WeatherService
  
<PageTitle>Home</PageTitle>
<input @bind ="city"><button @onclick="GetWeather" class="btn btn-primary">Search</button>
@if(weatherResponse != null){
<div>@weatherResponse.Current.Temp_C</div>
} else {
    <div>...loading</div>
}
@code{

private string city = "";
private WeatherResponse? weatherResponse;
async Task GetWeather(){
     weatherResponse = await WeatherService.GetWeatherAsync(city);
}
} 
